body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    min-width: 500px;
    font-family: Tahoma, sans-serif;
    
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    width: 100%;
    font-size: 4rem;
    color: black;
    text-align: center;
    -webkit-text-stroke:1px yellow;                                    
                                                
}
h2 {
    margin: 0 auto 5px;
    border: solid 1.5px white;
    padding: 1rem;
    border-radius: 18px;
}

.hero {
    width: 100%;
    height: 140vh;
    position: relative; 
    align-items: center;
    justify-content: center;
    display: flex;
    background: url("/images/background1.jpg");
    background-position: center;
   
    
}
.changeBg {
    background: url("/images/background.jpg");
    background-position: center;
}


.inner-result {
    display: flex;
    margin-top: 20px;
}

.inner-result div {
    display: flex;
    margin: 0 auto 5px;
    border: solid 1.5px white;
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
}

.inner-result li {
    list-style: none;
    
}

.inner-result ul {
    padding-left: 0;
    
}



/* .myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* min-width: 100%;
  min-height: 100%; */
 
.userInput {
   
    margin-top: 2%;
    height: 100 ;
    border-radius: 5px;
    height: 1.5rem;
    width: 13rem;
    border-color: solid 2px red;
    
    
}


.is-hidden {
    display: none;
    visibility: hidden;
}

.result-container {
    position: absolute;
    top:1%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    position: absolute;
    top:1%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h3 {
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke:.5px yellow;                                    
    font-size: 1.5rem;
    color: #000;
}
.form-container div {
    text-align: center;
}

input[type=submit] {
    color: white;
    border-radius: 5px;
    font-family: 'Edit Undo BRK', sans-serif;
    font-size: large;
    padding: 5px;
    height:  3rem;
    min-width: 5rem ;
    margin: 10px;
}

#type>ul>li {
    color:white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
#normal {
    background-color: #A8A77A;
}
#fire {
    background-color: #EE8130;
}
#water {
    background-color: #6390F0;
}
#electric {
    background-color: #F7D02C;
}
#grass {
    background-color: #7AC74C;
}
#ice {
    background-color: #96D9D6;
}
#fighting {
    background-color: #C22E28;
}
#poison {
    background-color: #A33EA1;
}
#ground {
    background-color: #E2BF65;
}
#flying {
    background-color: #A98FF3;
}
#psychic {
    background-color: #F95587;
}
#bug {
    background-color: #A6B91A;
}
#rock {
    background-color: #B6A136;
}
#ghost {
    background-color: #735797;
}
#dragon {
    background-color: #6F35FC;
}
#dark {
    background-color: #705746;
}
#steel {
    background-color: #B7B7CE;
}
#fairy {
    background-color: #D685AD;
}

@media only screen and (max-width:799px) {
    h1 {
        font-size: 2rem;
    }
    
}